@model APPBASE.Models.User_DetailCPARVM

@{
    ViewBag.Title = "Tambah Data User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Usercpar", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    @Html.ValidationSummary(true)

    <div class="box box-info">
        <div class="box-header">
            <div class="row">
                <div class="col-xs-6">
                </div>
                <div class="col-xs-6">
                    <h3 class="box-title"></h3>
                </div>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    @{Html.RenderPartial("_Inputs");}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="RSLTDATA_TAG"></div>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-flat btn-primary">Simpan</button>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div><!-- /.row -->
        </div><!-- /.box-footer -->
    </div><!-- /.box -->
}

<!-- Modal -->
@{Html.RenderPartial("_PartialDialogLookup");}

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}


}
