
<input type="hidden" id="dataName_1" name="dataName_1" value="OPEN" />
<input type="hidden" id="dataValue_1" name="dataValue_1" value="@ViewBag.OPEN" />

<input type="hidden" id="dataName_2" name="dataName_2" value="CLOSED" />
<input type="hidden" id="dataValue_2" name="dataValue_2" value="@ViewBag.CLOSED" />

<!-- Donut chart -->
<div class="box box-info">
    <div class="box-header">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="box-title">Status CPAR</h3>
    </div>
    <div class="box-body">
        <div id="donut-chart" style="height: 300px;"></div>
    </div><!-- /.box-body-->
</div><!-- /.box -->

